body {
  background: #230649;
}
.head-nav {
  display: flex;
  align-items: center;
  gap: 42px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 949px;
  height: 100px;
  left: 2206px;
  top: 4119px;
  background: rgba(245, 198, 236, 0.5);
  gap: 30px;
}
#menu-img {
  height: 100px;
  margin-right: 40px;
}
.logo-img {
  width: 206px;
  height: 110px;
}

.menu-btn {
  border: 0;
  background: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
#signin {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background: #a098b7;
}
#signup {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background: #a098b7;
}
.sigin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ingredient-container {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 19px 18px 19px 18px;
}
#ingredient-text-box {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 122px;
}
#ingredient-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ingredient-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #000000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: none;
  min-width: 207px;
  z-index: 1;
}

.dropdown-content .list-button {
  width: 100%;
}

.dropdown-content .list-button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.dropdown.active .dropdown-content {
  display: block;
}
